<section class="h-screen">
  <div class="h-full">
    <div
      class="flex h-full flex-wrap items-center justify-center lg:justify-between">
      <div
        class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="w-full"
          alt="Sample image"/>
      </div>
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
        <form>
          <div class="pb-6">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Semantica</h2>
            <div class="mt-10 grid grid-cols-12 gap-y-8 gap-x-12 sm:grid-cols-12">
              <div class="sm:col-span-10">
                <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Usuario</label>
                <div class="mt-2">
                  <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                         class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>
            </div>
            <div class="mt-10 grid grid-cols-12 gap-y-8 gap-x-12 sm:grid-cols-12">
              <div class="sm:col-span-10">
                <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                <div class="mt-2 relative">
                  <input type="password" name="first-name" id="contrasena" autocomplete="given-name"
                         class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <div class="flex items-center absolute inset-y-0 right-0 mr-3  text-sm leading-5">
                    <button type="button"
                            class="">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                           xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center lg:text-left">
            <button
                    (click)="login()"
                    type="submit"
                    class="rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              ingresar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
